<div class="row featured__product-heading" data-section-onboard>
  <div class="section-title {% if settings.section_titles == 'lines' %}lines {% elsif settings.section_titles == 'btm_border' %}btm_border {% endif %} desktop-12 tablet-6 mobile-3">
    <h2>
      <a href="#" title="{{ section.settings.heading }}">
        {{ section.settings.heading }}
      </a>
    </h2>
  </div>
  <div class="row featured__product-container">
    <div class="featured-product-gallery desktop-6 tablet-3 mobile-3">
      <div class="onboard">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>

    <div class="product__section-details desktop-6 tablet-3 mobile-3">
      <div class="featured-product-form">

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'product_info' -%}

            {% if section.settings.vendor %}
            <h4>Product Vendor</h4>
            {% endif %}
            <h2>
            <a href="#" title="Sample product name">
              Your product's name
            </a>
            </h2>
            <p id="product-price">
              <span class="product-price" itemprop="price">
                9.99</span>&nbsp;<span class="was">13.99
              </span>
            </p>
          <br/>

          {%- when 'product_form' -%}

            <div class="product-add">
              <input type="submit" name="button" class="add" value="Add to Cart" />
            </div>
          {%- when 'product_description' -%}

            <div class="rte">
              This area is used to describe your product’s details. Tell customers about the look, feel, and style of your product. Add details on color, materials used, sizing, and where it was made.
            </div>

          {%- endcase -%}
        {%- endfor -%}

      </div>
    </div>
  </div>
</div>
