{%- liquid

  assign form_left = false
  assign form_right = false
  assign form_bottom = false

  case section.settings.form_position
  when 'left'
  assign form_left = true
  when 'right'
  assign form_right = true
  when 'bottom'
  assign form_bottom = true
  endcase

-%}

<section id="page" class="main__section page__section" data-section-id="{{ section.id }}" data-section-type="page-section">
  <div class="row">
    <h1 class="page-title page__section-title">{{ page.title }}</h1>
      <div class="contactPage__section-content">
        {% if form_left %}
          <div class="contact__page-form">
            {% render 'contact' %}
          </div>
        {% endif %}
        <div class="rte">{{ page.content }}</div>
        {% if form_right or form_bottom %}
          <div class="contact__page-form">
            {% render 'contact' %}
          </div>
        {% endif %}
      </div>
  </div>
  <style>
    @media screen and (min-width:741px) {
      .contactPage__section-content {
        max-width: {{ section.settings.page_width }}%;
        margin: 0 auto;
      }
    }
    {% if form_left %}
      @media screen and (max-width: 740px) {
      .contact__page-form {
        grid-row: 2;
      }
    }
    {% endif %}
    {% unless form_bottom == true %}
    .contactPage__section-content {
      grid-template-columns: 1fr 1fr;
    }
    {% endunless %}
  </style>
</section>

{% schema %}
  {
    "name": "Page options",
    "settings": [
      {
        "type": "range",
        "id": "page_width",
        "label": "Page content width",
        "unit":"%",
        "min":50,
        "max":100,
        "step":10,
        "default":80,
		    "info": "Set the content width for your pages, mobile will show at full page width"
      },
      {
        "type": "select",
        "id": "form_position",
        "label": "Contact form position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default":"bottom"
      }
    ]
  }
{% endschema %}
